<div class="container-fluid py-4 parent">

  <h3 class="mb-3">Enquiry Form</h3>

  <form #enquiryForm="ngForm" (ngSubmit)="onSaveEnquiry(enquiryForm)">

    <div class="card card-section">
      <div class="card-body">
        <h5 class="card-title">1. Customer Details</h5>

        <div class="row g-3">

          <div class="col-md-6">
            <label class="form-label">Customer Name<span style="color: red;font-size: 19px;">*</span></label>
            <input
              type="text"
              class="form-control"
              name="customerName"
              [(ngModel)]="newEnquiryObj.customerName"
              required
              #name="ngModel">

            <small class="text-danger" *ngIf="name.invalid && name.touched">
              Name is required
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Email<span style="color: red;font-size: 20px;">*</span></label>
            <input
              type="email"
              class="form-control"
              name="customerEmail"
              [(ngModel)]="newEnquiryObj.customerEmail"
              required
              email
              #email="ngModel">

            <small class="text-danger" *ngIf="email.invalid && email.touched">
              Valid email required
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Phone<span style="color: red;font-size: 20px;">*</span></label>
            <input
              type="tel"
              class="form-control"
              name="customerPhone"
              [(ngModel)]="newEnquiryObj.customerPhone"
              required
              minlength="10"
              maxlength="10"
              #phone="ngModel">

            <small class="text-danger" *ngIf="phone.invalid && phone.touched">
              Enter 10 digit phone number
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Enquiry Type</label>
            <input
              type="text"
              class="form-control"
              name="enquiryType"
              [(ngModel)]="newEnquiryObj.enquiryType"
              value="Call"
              disabled>
          </div>

        </div>
      </div>
    </div>

    <div class="card card-section">
      <div class="card-body">
        <h5 class="card-title">2. Enquiry Details</h5>

        <div class="row g-3">

          <div class="col-12">
            <label class="form-label">Message<span style="color: red;font-size: 20px;">*</span></label>
            <textarea
              class="form-control"
              rows="3"
              name="message"
              [(ngModel)]="newEnquiryObj.message"
              required
              maxlength="500"
              #message="ngModel"></textarea>

            <small class="text-danger" *ngIf="message.invalid && message.touched">
              Message is required
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Category<span style="color: red;font-size: 20px;">*</span></label>
            <select
              class="form-select"
              name="categoryId"
              [(ngModel)]="newEnquiryObj.categoryId"
              required
              #category="ngModel">

              <option value="" disabled>Select Category</option>
              <option *ngFor="let c of $categoryList | async" [value]="c.categoryId">
                {{ c.categoryName }}
              </option>
            </select>

            <small class="text-danger" *ngIf="category.invalid && category.touched">
              Category required
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Status<span style="color: red;font-size: 20px;">*</span></label>
            <select
              class="form-select"
              name="statusId"
              [(ngModel)]="newEnquiryObj.statusId"
              required
              #status="ngModel">

              <option value="" disabled>Select Status</option>
              <option *ngFor="let s of $statusList | async" [value]="s.statusId">
                {{ s.statusName }}
              </option>
            </select>

            <small class="text-danger" *ngIf="status.invalid && status.touched">
              Status required
            </small>
          </div>

        </div>
      </div>
    </div>

    <div class="card card-section">
      <div class="card-body">
        <h5 class="card-title">3. Feedback</h5>
        <textarea
          class="form-control"
          rows="2"
          name="feedback"
          [(ngModel)]="newEnquiryObj.feedback"></textarea>
      </div>
    </div>

    <div class="text-center mt-3">
      <button
        class="btn btn-success px-4"
        type="submit"
        [disabled]="enquiryForm.invalid">
        Submit Enquiry
      </button>
    </div>

  </form>
</div>
