<div class="login-color">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card shadow-lg rounded-4 login-card">
      <div class="card-body p-4 p-md-5">

        <div class="text-center mb-4">
          <h4 class="mb-0">Welcome</h4>
          <p class="text-muted">Sign Up to start your account</p>
        </div>
        <form [formGroup]="loginForm">

          <div class="mb-3 form-floating">
            <input
              class="form-control form-control-lg input-anim"
              placeholder="name@example.com"
              formControlName="name"
              [class.is-invalid]="(name.touched || submitted) && name.invalid">

            <label for="name">Name</label>

            <div class="invalid-feedback d-block"
                 *ngIf="(name.touched || submitted) && name.invalid">
              <div *ngIf="name.errors?.['required']">name is required</div>
              <div *ngIf="name.errors?.['minlength']">
                Minimum 3 characters required
              </div>
            </div>
          </div>
            <div class="mb-3 form-floating">
            <input
              type="email"
              id="email"
              class="form-control form-control-lg input-anim"
              placeholder="name@example.com"
              formControlName="email"
              [class.is-invalid]="(email.touched || submitted) && email.invalid">

            <label for="email">Email address</label>

            <div class="invalid-feedback d-block"
                 *ngIf="(email.touched || submitted) && email.invalid">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">Enter a valid email</div>
            </div>
          </div>
          <div class="mb-3 form-floating">
            <input
              type="password"
              id="password"
              class="form-control form-control-lg input-anim"
              placeholder="Password"
              formControlName="password"
              [class.is-invalid]="(password.touched || submitted) && password.invalid">

            <label for="password">Password</label>

            <div class="invalid-feedback d-block"
                 *ngIf="(password.touched || submitted) && password.invalid">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">
                Minimum 5 characters required
              </div>
              <div *ngIf="password.errors?.['pattern']">
                Must contain atleast 1 capital letter, 1 digit and 1 special character
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-lg w-100 mb-3 btn-anim"
            [disabled]="loginForm.invalid">
            Sign Up
          </button>

          <div class="text-center">
            <p class="text-muted m-0">Already have an account?</p>
            <div class="mt-2">
              <a href="#" class="fw-medium" routerLink="/login">Sign In</a>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>